<h1><%= @organization.name %></h1>

<%= for employee <- @organization.users do %>

  <%= employee.name %> (<%= employee.email %>)

<% end %>
<span><%= link "Edit", to: Routes.organization_path(@conn, :edit, @organization) %></span>
<span><%= link "Back", to: Routes.organization_path(@conn, :index) %></span>
