<h1><%= @organization.name %> <%= link "Setting", to: '/' %> </h1>

<%= for employee <- @organization.users do %>

  <%= link "#{employee.name}(#{employee.email})", to: Routes.user_daily_update_path(@conn, :index, employee.id) %> 

<% end %>
<span><%= link "Edit", to: Routes.organization_path(@conn, :edit, @organization) %></span>
<span><%= link "Back", to: Routes.organization_path(@conn, :index) %></span>
