<h1>Edit Daily update</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.daily_update_path(@conn, :update, @daily_update)) %>

<span><%= link "Back", to: Routes.daily_update_path(@conn, :index) %></span>
